#single-crosslist label {
  background-color: #fff;
  border: 1px solid #dee2e6;
  margin-bottom: 10px !important; }
  #single-crosslist label img {
    max-width: 70px; }

.crossSellerAddToCartBtnRounded {
  padding: 10px;
  border-radius: 100%; }

.crossSellerAddToCartBtnWrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 5px; }

